{% block content %}
    <ul>
        {% for item in node.data %}

            <li>
                {{ item.createdAt|localizeddate('medium', 'medium', app.request.locale) }} - {{ (item.data) }}
            </li>
        {% endfor %}
    </ul>
{% endblock content %}