{% block content %}
    <form action="{{ path('room_create') }}" method="post">
        {{ form_widget(form) }}
        <input type="submit" value="Save" class="btn btn-primary" />
    </form>
{% endblock content %}